#intro {
    display: flex;
    min-width: 100px;
    height: 50%;
    text-align: center;
}
img {
    display: flex;
    min-width: 50px;
    height: 10%;

}
.profile {
    justify-content: center;
    text-align: center;
    border: 1px;
}

.btn {
    margin: 1%;
    border: 5px;
    border-radius: 5%;
}
body {
    display: block;
    background-color: antiquewhite;
    height: auto;
    margin: 0%;
    scroll-behavior: smooth;
}
.head {
    text-align: center;
    background-color: darkolivegreen;
    color: chocolate;
    padding: 0.8rem;
}

img {
    display: block;
    width: 100%;
}

.about {
    text-align: center;
    background-color: black;
    color: rgb(6, 207, 140);
    padding: 10px;

}
.para {
    color: chocolate;
}
.mother {
    text-align: center;
    background-color: black;
    color: rgb(6, 207, 140);
    padding: 10px;
}

p {
    color: chocolate;
}

.lastimg {
    display: block;
    width: 100%;
}

.life {
    text-align: center;
    background-color: black;
    color: rgb(6, 207, 140);
    padding: 10px;
}

.bottom {
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    text-align: center;
}

.logo {
    height: 10cm;
    width: 2cm;
    align-content: center;
    justify-content: end;
}