.head{
    display: flex;
    align-items: center;
    background-color: black;
    padding: auto;
    justify-content: space-around       ;
    
}
h1{
    color: red;
    /* font-size: large; */
    font-family: sans-serif;
    font-weight: 1000;
}
h3{
    color: green;
    justify-content: center;
    padding-bottom: ;
}

.navbar{
    display: flex; 
    justify-content: space-between;
    padding-top: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: chocolate;
    cursor: pointer;
}
.navbar :hover{
    font-weight: 100;
    /* color: ; */
    background-color: darkcyan;

}